# NoteBook Ingest dataset World Population from World Bank

***Author:*** Frederick Salazar <br>
***Date:*** December 2024<br>
***Data Source:*** https://datos.bancomundial.org/indicador/SP.POP.TOTL <br>
***Description:*** This notebook is created to donwload and process data of open dataset taht contains data about world population since 1060 to 2023, this dataset is a public data from world bank.

## Importations and configurations

In [1]:
#library importations

import pandas as pd

import os
import requests
import zipfile
from io import BytesIO

In [2]:
#paths

data_source_in = 'https://api.worldbank.org/v2/es/indicator/SP.POP.TOTL?downloadformat=csv'
data_source_out = './open_data'

#name of files
world_data = 'API_SP.POP.TOTL'
metadata = 'Metadata_Country_API_SP.POP.TOTL'

## Download and read data

In [3]:
response = requests.get(data_source_in)

if response.status_code == 200:
    # Leer el contenido del archivo ZIP en memoria
    zip_file = BytesIO(response.content)
    
    # Descomprimir el contenido del ZIP directamente en el directorio
    with zipfile.ZipFile(zip_file) as z:
        z.extractall(data_source_out)

In [4]:
#read files

for file in os.listdir(data_source_out):
    if file.startswith(world_data):
        df_world_data = pd.read_csv(data_source_out+'/'+file,
                                    sep=',',
                                    skiprows=3)
    elif file.startswith(metadata):
        df_metadata = pd.read_csv(data_source_out+'/'+file,
                          sep=',')

## Transformation data

In [5]:
#all string columns in upper

df_world_data = df_world_data.applymap(lambda x: x.upper() if isinstance(x, str) else x)

df_metadata = df_metadata.applymap(lambda x: x.upper() if isinstance(x,str) else x)

/var/folders/34/mqqssx0s7jd53nv2vzj0plc00000gn/T/ipykernel_28094/3756038061.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_world_data = df_world_data.applymap(lambda x: x.upper() if isinstance(x, str) else x)
/var/folders/34/mqqssx0s7jd53nv2vzj0plc00000gn/T/ipykernel_28094/3756038061.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_metadata = df_metadata.applymap(lambda x: x.upper() if isinstance(x,str) else x)

In [6]:
df_metadata = df_metadata[['Country Code',
                           'Region',
                           'Income_Group']]

In [7]:
df_world_data = df_world_data.merge(df_metadata,
                                    on = 'Country Code',
                                    how='inner')

In [8]:
df_world_data = df_world_data[['Country Code',
                               'Country Name',
                               'Region',
                               'Income_Group',
                               '1960', '1961', '1962', '1963', '1964', '1965',
                               '1966', '1967', '1968', '1969', '1970', '1971',
                               '1972', '1973', '1974', '1975', '1976', '1977',
                               '1978', '1979', '1980', '1981', '1982', '1983', 
                               '1984', '1985', '1986', '1987', '1988', '1989', 
                               '1990', '1991', '1992', '1993', '1994', '1995',
                               '1996', '1997', '1998', '1999', '2000', '2001',
                               '2002', '2003', '2004', '2005', '2006', '2007', 
                               '2008', '2009', '2010', '2011', '2012', '2013',
                               '2014', '2015', '2016', '2017', '2018', '2019',
                               '2020', '2021', '2022', '2023']]

In [9]:
df_world_data.rename(columns={'Country Code':'country_code',
                              'Country Name':'country_name',
                              'Region' : 'region',
                              'Income_Group' : 'income_group'},
                     inplace = True)

In [13]:
df_world_data.head()

,country_code,country_name,region,income_group,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ABW,ARUBA,NaN,INGRESO ALTO,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,106277.0
1,AFE,NaN,NaN,AGREGADOS,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0,739108306.0
2,AFG,AFGANISTÁN,ASIA MERIDIONAL,PAÍSES DE INGRESO BAJO,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,42239854.0
3,AFW,NaN,NaN,AGREGADOS,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,502789511.0
4,AGO,ANGOLA,ÁFRICA AL SUR DEL SAHARA (EXCLUIDO ALTOS INGRE...,PAÍSES DE INGRESO MEDIANO BAJO,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,36684202.0

## Exportation data

In [11]:
df_world_data.to_csv('./open_data/data_population_world.csv',
                     sep=',',
                     index=False)